/* 文章页面 */
.vp-doc-container.has-sidebar.has-aside .content-container {
  max-width: none !important;
}

/* 特殊标题 */
#doc-contributors, #doc-changelog {
  border: none;
  padding-top: 0;

  .header-anchor {
    display: block;
    position: relative;
    font-size: 24px;
    padding: 12px 32px;
    color: var(--vp-c-brand-1);
    font-weight: 700;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      opacity: 1;
      opacity: 1;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      margin: auto;
      background-size: 24px 24px;
    }

    &:hover {
      color: var(--vp-c-brand-1);
    }
  }
}

#doc-contributors .header-anchor::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%235086a1' d='M12.688 0c-6.627 0-12 5.373-12 12s5.373 12 12 12a12 12 0 0 0 10.624-6.412a10.48 10.48 0 0 1-8.374 4.162c-5.799 0-10.5-4.701-10.5-10.5S9.14.75 14.938.75c1.001 0 1.97.14 2.887.402A11.96 11.96 0 0 0 12.688 0m2.438 2.25a9 9 0 1 0 7.967 13.19a7.875 7.875 0 1 1-4.115-12.326a9 9 0 0 0-3.852-.864'/></svg>");
}

#doc-changelog .header-anchor::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'><path fill='%235086a1' d='m.427 1.927l1.215 1.215a8.002 8.002 0 1 1-1.6 5.685a.75.75 0 1 1 1.493-.154a6.5 6.5 0 1 0 1.18-4.458l1.358 1.358A.25.25 0 0 1 3.896 6H.25A.25.25 0 0 1 0 5.75V2.104a.25.25 0 0 1 .427-.177M7.75 4a.75.75 0 0 1 .75.75v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.75.75 0 0 1 7 8.25v-3.5A.75.75 0 0 1 7.75 4'/></svg>");
}

[data-theme="dark"] #doc-contributors .header-anchor::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%238cccd5' d='M12.688 0c-6.627 0-12 5.373-12 12s5.373 12 12 12a12 12 0 0 0 10.624-6.412a10.48 10.48 0 0 1-8.374 4.162c-5.799 0-10.5-4.701-10.5-10.5S9.14.75 14.938.75c1.001 0 1.97.14 2.887.402A11.96 11.96 0 0 0 12.688 0m2.438 2.25a9 9 0 1 0 7.967 13.19a7.875 7.875 0 1 1-4.115-12.326a9 9 0 0 0-3.852-.864'/></svg>");
}

[data-theme="dark"] #doc-changelog .header-anchor::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'><path fill='%238cccd5' d='m.427 1.927l1.215 1.215a8.002 8.002 0 1 1-1.6 5.685a.75.75 0 1 1 1.493-.154a6.5 6.5 0 1 0 1.18-4.458l1.358 1.358A.25.25 0 0 1 3.896 6H.25A.25.25 0 0 1 0 5.75V2.104a.25.25 0 0 1 .427-.177M7.75 4a.75.75 0 0 1 .75.75v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.75.75 0 0 1 7 8.25v-3.5A.75.75 0 0 1 7.75 4'/></svg>");
}