/* 首页 */
.content-image .vp-image {
  width: 80% !important;
  max-width: none !important;
}

@media (min-width: 960px) {
  .doc-hero-main .heading .text {
    font-size: 40px !important;
  }

  .content-image .vp-image {
      max-width: 300px !important;
  }
}

@media screen and (max-width: 768px) {
  .vp-button + .vp-button {
    margin-left: 0.5em !important;
  }
}